<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hello Django</title>
</head>
<body>
    <h1>Приветствую тебя, мой господин!</h1>
    <form method="GET" action="index">
        <input type="submit" value="Начать работу">
    </form>
</body>
</html>

{% comment %} <!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />
    <title>Hello Django</title>
</head>
<body>
    <h1>Welcome to Django!</h1>
    <h1>{{ header }}</h1>
    <p>Name: {{ user.name }} Age: {{ user.age }}</p>
    <p>Address: ул. {{ address.0 }}, д. {{ address.1 }}, кв. {{ address.2 }}</p>
    <p>Langs: {{ langs.0 }}, {{ langs.1 }}</p>
    <h1> Another image </h1>
    <img src="{% static "images/Подарок.jpg" %}" alt="Подарок" >
</body>
</html> {% endcomment %}