<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8" />
    <title>Модели в Django</title>

    <!-- {% static 'scripts/searchMenu.js' %} -->
    <!-- <script type="text/javascript" src="{% static 'scripts/searchMenu.js' %}"></script> -->
    <!-- <script type="text/javascript">
        function change_query_field_f() {
            var select = document.getElementById('select_data_field');
            var value = select.options[select.selectedIndex].value;

            var table = document.getElementById('search_menu');
            var tr = table.getElementsByTagName('tr')[0];
            var td = tr.getElementsByTagName('td')[1];
            var td_extra = tr.getElementsByTagName('td')[2];
            var div = document.getElementById('input_placeholder');
            var p = div.getElementsByTagName('p')[0];
            if(p) {p.remove();}

            var tag_html = document.createElement("p");
            if(value == "id") {
                if(td_extra) {td_extra.remove();}
                tag_html.innerHTML = '<input type="number" id="id_exp" placeholder="id эксперимента"/>';
                div.appendChild(tag_html);
            }
            if(value == "title") {
                if(td_extra) {td_extra.remove();}
                tag_html.innerHTML = '<p>' +
                                        '<input type="text" id="title_exp" placeholder="Название эксперимента"/>' +
                                     '</p>';
                div.appendChild(tag_html);
            }
            if(value == "date_time") {
                if(td_extra) {td_extra.remove();}
                tag_html.innerHTML = '<p>' +
                                        '<input type="datetime-local" id="dt_start_exp"/>' +
                                        '<input type="datetime-local" id="dt_end_exp"/>' +
                                     '</p>';
                div.appendChild(tag_html);
            }
            if(value == "time") {
                if(td_extra) {td_extra.remove();}
                tag_html.innerHTML = '<p>' +
                                        '<input type="time" id="t_start_exp"/>' +
                                        '<input type="time" id="t_end_exp"/>' +
                                     '</p>';
                div.appendChild(tag_html);
            }
            if(value == "bottom") {
                if(td_extra) {td_extra.remove();}
                tag_html.innerHTML = '<p>' +
                                        '<input type="text" id="bottom_exp" placeholder="Береговой профиль"/>' +
                                     '</p>';
                div.appendChild(tag_html);
            }
            if(value == "polarity") {
                if(td_extra) {td_extra.remove();}
                tag_html.innerHTML = '<p>' +
                                        '<select name="pol" id="pol">' +
                                            '<option selected disabled>Полярность волны</option>' +
                                            '<option value="1">Положительная</option>' +
                                            '<option value="2">Отрицательная</option>' +
                                        '</select>' +
                                     '</p>';
                div.appendChild(tag_html);
            }
            if(value == "wave_type") {
                tag_html.innerHTML = '<p>' +
                                        '<select name="wave" id="wave">' +
                                            '<option selected disabled>Выберите поле поиска</option>' +
                                            '<option value="1">Поверхностная</option>' +
                                            '<option value="2">Внутренняя</option>' +
                                        '</select>' +
                                     '</p>';
                div.appendChild(tag_html);
            }
        }
    
        function change_query_field_f1() {
            var select = document.getElementById('select_data_field');
            var value = select.options[select.selectedIndex].value;

            var input = document.getElementById('search_input');
            
            if(value == "id") {
                input.type = "number";
                // input.disabled = false;
                input.placeholder = "id эксперимента";
            }
        }
    
    </script> -->

</head>
<body class="container">
    <h3>Поиск эксперимента</h3>

    <form id="search_form" method="POST" action="search_form">
        {% csrf_token %}
        <table id="search_menu">
            <tbody>
                <tr>
                    <legend>Поиск по параметру</legend>
                    <td>
                        <!-- <select id="select_data_field" name="select_data_field" onchange="change_query_field_f1()"> -->
                        <select id="select_data_field" name="select_data_field">
                            <option selected disabled>Выберите поле поиска</option>
                            <option value="id">id</option>
                            <option value="title">Название</option>
                            <option value="date_time">Время проведения</option>
                            <option value="time">Продолжительность эксперимента</option>
                            <option value="bottom">Тип берега</option>
                            <option value="polarity">Полярность волны</option>
                            <option value="wave_type">Тип волны</option>
                            <option value="wave_maker">Параметры волнопродуктора</option>
                            <option value="stratif3">Стратификация жидкости (3 слоя)</option>
                            <option value="stratif2">Стратификация жидкости (2 слоя)</option>
                            <option value="stratif1">Стратификация жидкости (1 слой)</option>
                        </select>

                        <!-- <input type="number" id="search_input" placeholder="Выберите поле поиска"/> -->
                    </td>     
                    <!-- <td>
                        <div id="input_placeholder"></div>
                    </td> -->
                    <td>
                        <input type="submit" value="Подтвердить">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <form method="POST" action="search">
        {% csrf_token %}
        {% if form.mod == "strat" %}
            {% if form.top_layer %}
                <label>Верхний слой <p id="fl"> {{ form.top_layer }} </p></label>
            {% endif %}
            {% if form.middle_layer %}
                <label>Средний слой <p id="sl"> {{ form.middle_layer }} </p></label>
            {% endif %}
            {% if form.lower_layer %}
                <label>Нижний слой <p id="tl"> {{ form.lower_layer }} </p></label>
            {% endif %}
        {% elif form.mod == "wm" %}
            <label for="wm_set">Настройки волнопродуктора</label>
            <p id="wm_set">
                {{ form.wavemaker }} 
            </p>
        {% else %}
            {{ form }}
        {% endif %}
        <br><input type="submit" value="Поиск">
    </form>

    {% if database.count > 0 %}
    <h2>Список экспериментов</h2>
    <table name="data_table" border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Дата и время проведения</th>
                <th>Название эксперимента</th>
                <th>Тип берега</th>
                <th>Тип волны</th>

                <th>Настройки волнопродуктора</th>
                <th>Дамба</th>
                
                <th>Длительность эксперимента</th>
                <th>Стратификация</th>
                <th>Полярность волны</th>
                <th>Настройки лазера</th>
                <th>Доп. условия</th>
            </tr>
        </thead>
        {% for Experiment in database %}
        <tr>
            <td>
                <a href="/experiment/{{ Experiment.id }}/view/">{{ Experiment.id }}</a>
            </td>
            <td>
                {% if Experiment.date_and_time %}
                    {{ Experiment.date_and_time }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.title_of_exp %}
                    {{ Experiment.title_of_exp }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_bottom %}
                    {{ Experiment.type_of_bottom }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_wave %}
                    {{ Experiment.type_of_wave }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_forming.wave_maker %}
                    <p>
                        Амплитуда волны:
                        {% if Experiment.type_of_forming.wave_maker.amplitude %}
                            {{ Experiment.type_of_forming.wave_maker.amplitude }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Кол-во волн:
                        {% if Experiment.type_of_forming.wave_maker.quantity_of_waves %}
                            {{ Experiment.type_of_forming.wave_maker.quantity_of_waves }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Частота колебаний волнопродуктора:
                        {% if Experiment.type_of_forming.wave_maker.frequency %}
                            {{ Experiment.type_of_forming.wave_maker.frequency }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Время работы волнопродуктора:
                        {% if Experiment.type_of_forming.wave_maker.operating_time %}
                            {{ Experiment.type_of_forming.wave_maker.operating_time }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Толщина слоя жидкости:
                        {% if Experiment.type_of_forming.wave_maker.water_height %}
                            {{ Experiment.type_of_forming.wave_maker.water_height }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                {% else %}
                    Не использовалось
                {% endif %}
            </td>
            <td>
                {% comment %} {% if Experiment.type_of_wave == "Внутренняя" %} {% endcomment %}
                {% if Experiment.type_of_forming.dam_break %}
                    <p>
                        Положение стенки:
                        {% if Experiment.type_of_forming.dam_break.wall_coordinate %}
                            {{ Experiment.type_of_forming.dam_break.wall_coordinate }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Параметры слоёв: <br>
                        {% if Experiment.type_of_forming.dam_break.type_of_stratification %}
                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.top_layer %}
                                Верхний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}

                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer %}
                                Средний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}

                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer %}
                                Нижний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                {% else %}
                    Не использовалось
                {% endif %}
            </td>
            <td>
                {% if Experiment.duration_of_the_exp %}
                    {{ Experiment.duration_of_the_exp }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_stratification %}
                    {% if Experiment.type_of_stratification.top_layer %}
                        Верхний слой: <br>
                        {{ Experiment.type_of_stratification.top_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.top_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.top_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}

                    {% if Experiment.type_of_stratification.middle_layer %}
                        Средний слой: <br>
                        {{ Experiment.type_of_stratification.middle_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.middle_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.middle_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}

                    {% if Experiment.type_of_stratification.lower_layer %}
                        Нижний слой: <br>
                        {{ Experiment.type_of_stratification.lower_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.lower_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.lower_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.polarity %}
                    {{ Experiment.polarity }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                    {% if Experiment.laser.video_reference %}
                        <a href="{{ Experiment.laser.video_reference }}" target="_blank">
                            Смотреть видеозапись
                        </a>
                    {% endif %}
                    <br>
                    Расположение лазера:
                    {% if Experiment.laser.laser_coordinate %}
                        {{ Experiment.laser.laser_coordinate }}
                    {% else %}
                        Данных нет
                    {% endif %}
                    <br>
                    Угол линзы:
                    {% if Experiment.laser.viewing_angle %}
                        {{ Experiment.laser.viewing_angle }}
                    {% else %}
                        Данных нет
                    {% endif %}
                    <br>

            </td>
            <td>
                {% if Experiment.types_of_experiment %}
                    <p>
                        {% if Experiment.types_of_experiment.spread_over_an_obstacle %}
                            Тип частиц на поверхности жидкости:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.type_of_particles }}
                        {% endif %}
                    </p>

                    <p>
                        {% if Experiment.types_of_experiment.spread_over_an_obstacle %}
                            Расположение препятствия:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.obstacle_coordinate }}
                            <br><br>
                            Высота препятствия:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.obstacle_height }}
                        {% endif %}
                    </p>
                {% else %}
                    Доп. условий нет
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>