{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>

    <!-- {% static 'scripts/searchMenu.js' %} -->
    <script type="text/javascript" src="{% static 'scripts/searchMenu.js' %}"></script>

</head>
<body class="container">
    <h3>Поиск эксперимента</h3> 

    <legend>Поиск по параметру</legend>
        <!-- <select id="select_data_field" onchange="change_query_field_f()"> -->
        <select id="select_data_field" name="select_data_field" onclick="test_click()" onchange='change_query_field_f(this)'>
            <option selected disabled>Выберите поле поиска</option>
            <option value="id">id</option>
            <option value="title">Название</option>
        </select>
        <!-- <input type="button" onclick="change_query_field_f()" value="Подтвердить" /> -->
        <div id="input_field"></div>



    {% if database.count > 0 %}
    <h2>Список экспериментов</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Дата и время проведения</th>
            <th>Название эксперимента</th>
            <th>Тип берега</th>
            <th>Тип волны</th>
            <th>Видеозапись</th>
            
            <th>Данные с донных датчиков</th>
            <th>Данные с струнных датчиков</th>
            <th>Схема эксперимента</th>
            <th>Настройки волнопродуктора</th>
            <th>Дамба</th>
            
            <th>Длительность эксперимента</th>
            <th>Стратификация</th>
            <th>Полярность волны</th>
            <th>Настройки лазера</th>
            <th>Доп. условия</th>
        </tr>
        {% for Experiment in database %}
        <tr>
            <td>
                {{ Experiment.id }}
            </td>
            <td>
                {% if Experiment.date_and_time %}
                    {{ Experiment.date_and_time }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.title_of_exp %}
                    {{ Experiment.title_of_exp }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_bottom %}
                    {{ Experiment.type_of_bottom }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_wave %}
                    {{ Experiment.type_of_wave }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.video_reference %}
                    <a href="{{ Experiment.video_reference }}" target="_blank">
                        YouTube
                    </a>
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.result.bottom_sensors.results %}
                    <a href="{{ Experiment.result.bottom_sensors.results }}" target="_blank">
                        Скачать
                    </a>
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                <p>
                    Ёмкостные датчики:
                    {% if Experiment.result.string_sensors.capasitive_sensors_res %}
                    <a href="{{ Experiment.result.string_sensors.capasitive_sensors_res }}" target="_blank">
                        Скачать
                    </a>
                    {% else %}
                        Данных нет
                    {% endif %}
                </p>
                <p>
                    Резестивные датчики:
                    {% if Experiment.result.string_sensors.resistive_sensors_res %}
                    <a href="{{ Experiment.result.string_sensors.resistive_sensors_res }}" target="_blank">
                        Скачать
                    </a>
                    {% else %}
                        Данных нет
                    {% endif %}
                </p>
            </td>
            <td>
                {% if Experiment.sheme_of_exp_reference %}
                    <a href="{{ Experiment.sheme_of_exp_reference }}" target="_blank">
                        Смотреть
                    </a>
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% comment %} {% if Experiment.type_of_wave == "Поверхностная" %} {% endcomment %}
                {% if Experiment.type_of_forming.wave_maker %}
                    <p>
                        Амплитуда волны:
                        {% if Experiment.type_of_forming.wave_maker.amplitude %}
                            {{ Experiment.type_of_forming.wave_maker.amplitude }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Кол-во волн:
                        {% if Experiment.type_of_forming.wave_maker.quantity_of_waves %}
                            {{ Experiment.type_of_forming.wave_maker.quantity_of_waves }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Частота колебаний волнопродуктора:
                        {% if Experiment.type_of_forming.wave_maker.frequency %}
                            {{ Experiment.type_of_forming.wave_maker.frequency }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Время работы волнопродуктора:
                        {% if Experiment.type_of_forming.wave_maker.operating_time %}
                            {{ Experiment.type_of_forming.wave_maker.operating_time }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Толщина слоя жидкости:
                        {% if Experiment.type_of_forming.wave_maker.water_height %}
                            {{ Experiment.type_of_forming.wave_maker.water_height }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                {% else %}
                    Не использовалось
                {% endif %}
            </td>
            <td>
                {% comment %} {% if Experiment.type_of_wave == "Внутренняя" %} {% endcomment %}
                {% if Experiment.type_of_forming.dam_break %}
                    <p>
                        Положение стенки:
                        {% if Experiment.type_of_forming.dam_break.wall_coordinate %}
                            {{ Experiment.type_of_forming.dam_break.wall_coordinate }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Толщина слоёв: <br>
                        {% if Experiment.type_of_forming.dam_break.type_of_stratification %}
                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.top_layer %}
                                Верхний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}

                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer %}
                                Средний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}

                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer %}
                                Нижний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                {% else %}
                    Не использовалось
                {% endif %}
            </td>
            <td>
                {% if Experiment.duration_of_the_exp %}
                    {{ Experiment.duration_of_the_exp }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_stratification %}
                    {% if Experiment.type_of_stratification.top_layer %}
                        Верхний слой: <br>
                        {{ Experiment.type_of_stratification.top_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.top_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.top_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}

                    {% if Experiment.type_of_stratification.middle_layer %}
                        Средний слой: <br>
                        {{ Experiment.type_of_stratification.middle_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.middle_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.middle_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}

                    {% if Experiment.type_of_stratification.lower_layer %}
                        Нижний слой: <br>
                        {{ Experiment.type_of_stratification.lower_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.lower_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.lower_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.polarity %}
                    {{ Experiment.polarity }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.laser.used %}
                    {% if Experiment.laser.video_reference %}
                        <a href="{{ Experiment.laser.video_reference }}" target="_blank">
                            Смотреть видеозапись
                        </a>
                    {% endif %}
                    <br>
                    Расположение лазера:
                    {% if Experiment.laser.laser_coordinate %}
                        {{ Experiment.laser.laser_coordinate }}
                    {% else %}
                        Данных нет
                    {% endif %}
                    <br>
                    Угол линзы:
                    {% if Experiment.laser.viewing_angle %}
                        {{ Experiment.laser.viewing_angle }}
                    {% else %}
                        Данных нет
                    {% endif %}
                    <br>
                {% else %}
                    Не использовалось
                {% endif %}
            </td>
            <td>
                {% if Experiment.types_of_experiment %}
                    <p>
                        {% if Experiment.types_of_experiment.spread_over_an_obstacle %}
                            Тип частиц на поверхности жидкости:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.type_of_particles }}
                        {% endif %}
                    </p>

                    <p>
                        {% if Experiment.types_of_experiment.spread_over_an_obstacle %}
                            Расположение препятствия:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.obstacle_coordinate }}
                            <br><br>
                            Высота препятствия:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.obstacle_height }}
                        {% endif %}
                    </p>
                {% else %}
                    Доп. условий нет
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>