<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>

    <script>
        window.onload = function() {
            var wave = document.getElementById("wave");
            if (wave == "Поверхностная") {
                temp = "<input type="number" name="wave_amplitude"/>";
                alert("if");
            }
            alert("not if");
            document.getElementById("info_after_wave_choice").innerHTML = temp;
        }
    </script>

</head>
<body class="container">
    <form method="POST" action="create">
        {% csrf_token %}
        {% comment %} <p>
            <label>Введите название эксперимента</label><br>
            <input type="text" name="title" />
        </p>
        <p>
            <label>Введите тип береговой линии</label><br>
            <input type="text" name="bottom" />
        </p>
        <p>
            <label>Вставьте ссылку на видеозапись эксперимента</label><br>
            <input type="text" name="video" />
        </p>
        <p>
            <label>Введите тип волны</label><br>
            <input list="wave" name="wave">
            <datalist id="wave">
                <option value="Поверхностная"></option>
                <option value="Внутренняя"></option>
            </datalist>
        </p>
        <p>
            <span id="info_after_wave_choice"></span>
        </p> {% endcomment %}
        <table>
            <tr>
                <td>
                    {% comment %} <p>
                        <label>Id</label><br>
                        <input type="number" name="id" />
                    </p> {% endcomment %}

                    <p>
                        <label>Дата и время проведения</label><br>
                        <input type="number" size="4" name="year" placeholder="гг"/>-
                        <input type="number" size="2" name="month" placeholder="мм"/>-
                        <input type="number" size="2" name="day" placeholder="дд"/><br>
                        <input type="number" size="2" name="hour" min="0" max="24" placeholder="чч"/>:
                        <input type="number" size="2" name="min" min="0" max="59" placeholder="мм"/>:
                        <input type="number" size="2" name="sec" min="0" max="59" placeholder="сс"/>
                    </p>

                    <p>
                        <label>Длительность эксперимента</label><br>
                        <input type="number" size="2" name="dur_hour" min="0" max="24" placeholder="чч"/>:
                        <input type="number" size="2" name="dur_min" min="0" max="59" placeholder="мм"/>:
                        <input type="number" size="2" name="dur_sec" min="0" max="59" placeholder="сс"/>
                    </p>

                    <p>
                        <label>Название эксперимента</label><br>
                        <input type="text" name="title" />
                    </p>

                    <p>
                        <label>Видеозапись эксперимента</label><br>
                        <input type="text" name="video" />
                    </p>

                    <p>
                        <label>Тип берега</label><br>
                        <input type="text" name="bottom" />
                    </p>

                    <p>
                        <label>Тип волны</label><br>
                        <input list="wave" name="wave">
                        <datalist id="wave">
                            <option value="Поверхностная"></option>
                            <option value="Внутренняя"></option>
                        </datalist>
                    </p>

                    <p>
                        <label>Показания донных датчиков</label><br>
                        <input type="text" name="bottom_sensors"/>
                    </p>

                    <p>
                        <label>Показания ёмкостных датчиков</label><br>
                        <input type="text" name="capasitive_sensors"/>
                    </p>

                    <p>
                        <label>Показания резистивных датчиков</label><br>
                        <input type="text" name="resistive_sensors"/>
                    </p>

                    <p>
                        <label>Полярность волны</label><br>
                        <input type="text" name="polarity"/>
                    </p>
                </td>
                <td>
                    <p>
                        <label>Схема эксперимента</label><br>
                        <input type="text" name="schema"/>
                    </p>
                    <p>
                        <label>Стратификация</label>
                        <p>
                            <label>Верхний слой:</label><br>
                            <input type="number" name="top_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="top_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="top_layer_color" placeholder="Название красителя"/><br>
                        </p>
                        <p>
                            <label>Средний слой:</label><br>
                            <input type="number" name="middle_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="middle_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="middle_layer_color" placeholder="Название красителя"/><br>
                        </p>
                        <p>
                            <label>Нижний слой:</label><br>
                            <input type="number" name="lower_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="lower_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="lower_layer_color" placeholder="Название красителя"/><br>
                        </p>
                    </p>
                </td>
                <td>
                    <p>
                        <label>Настройки волнопродуктора:</label><br>
                        <input type="number" name="amplitude" placeholder="Амплитуда (См)"/><br>
                        <input type="number" name="quantity" placeholder="Количество волн"/><br>
                        <input type="number" name="frequency" placeholder="Частота волнопрод.(Гц)"/><br>
                        <input type="number" size="2" name="wavemaker_dur_hour" min="0" max="24" placeholder="чч"/>:
                        <input type="number" size="2" name="wavemaker_dur_min" min="0" max="59" placeholder="мм"/>:
                        <input type="number" size="2" name="wavemaker_dur_sec" min="0" max="59" placeholder="сс"/><br>
                        <input type="number" name="thickness" placeholder="Толщина слоя жидкости"/>
                    </p>
                <td>
                <td>
                    <p>
                        <label>Настройки дамбы:</label><br>
                        <input type="number" name="wall_coordinate" placeholder="Положение стенки"/><br>
                        <p>
                            <label>Верхний слой:</label><br>
                            <input type="number" name="dam_top_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_top_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_top_layer_color" placeholder="Название красителя"/><br>
                        </p>
                        <p>
                            <label>Средний слой:</label><br>
                            <input type="number" name="dam_middle_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_middle_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_middle_layer_color" placeholder="Название красителя"/><br>
                        </p>
                        <p>
                            <label>Нижний слой:</label><br>
                            <input type="number" name="dam_lower_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_lower_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_lower_layer_color" placeholder="Название красителя"/><br>
                        </p>
                    </p>
                </td>
                <td>
                    <label>Настройки лазера</label><br>
                    <input list="used" name="used">
                        <datalist id="used">
                            <option value="Использовался"></option>
                            <option value="Не использовался"></option>
                        </datalist>
                    <br>
                    <input type="text" name="laser_video" placeholder="Сылка на видео"/><br>
                    <input type="number" name="laser_coordinate" placeholder="Место размещения"/><br>
                    <input type="number" name="laser_angle" placeholder="Угол линзы"/><br>
                </td>
                <td>
                    <label>Доп. настройки</label>
                    <p>
                        Препятствие:<br>
                        <input type="number" name="obstacle_coordinate" placeholder="Место размещения"/><br>
                        <input type="number" name="obstacle_height" placeholder="Высота препятствия"/><br>
                    </p>
                    <p>
                        <label>Тип частиц на поверхности жидкости:</label><br>
                        <input type="text" name="type_of_particles"/>
                    </p>
                </td>
            </tr>
        </table>
        <input type="submit" value="Сохранить" >
    </form>
    <form name="search" method="POST" action="search">
        {% csrf_token %}
        <h3>Поиск эксперимента</h3>
        <table>
            <tr>
                <td>
                    <p>
                        <label>Id</label><br>
                        <input type="number" name="id" />
                    </p>

                    <p>
                        <label>Дата и время проведения</label><br>
                        <input type="number" size="4" name="year" placeholder="гг"/>-
                        <input type="number" size="2" name="month" placeholder="мм"/>-
                        <input type="number" size="2" name="day" placeholder="дд"/><br>
                        <input type="number" size="2" name="hour" value="00"/>:
                        <input type="number" size="2" name="min" value="00"/>:
                        <input type="number" size="2" name="sec" value="00"/>
                    </p>

                    <p>
                        <label>Длительность эксперимента</label><br>
                        <input type="number" size="2" name="dur_hour" value="00"/>:
                        <input type="number" size="2" name="dur_min" value="00"/>:
                        <input type="number" size="2" name="dur_sec" value="00"/>
                    </p>

                    <p>
                        <label>Название эксперимента</label><br>
                        <input type="text" name="title" />
                    </p>

                    <p>
                        <label>Тип берега</label><br>
                        <input type="text" name="bottom" />
                    </p>

                    <p>
                        <label>Тип волны</label><br>
                        <input list="wave" name="wave">
                        <datalist id="wave">
                            <option value="Поверхностная"></option>
                            <option value="Внутренняя"></option>
                        </datalist>
                    </p>

                    <p>
                        <label>Полярность волны</label><br>
                        <input type="text" name="polarity"/>
                    </p>
                </td>
                <td>
                    <p>
                        <label>Стратификация</label>
                        <p>
                            <label>Верхний слой:</label><br>
                            <input type="number" name="dam_top_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_top_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_top_layer_color" placeholder="Название красителя"/><br>
                        </p>
                        <p>
                            <label>Средний слой:</label><br>
                            <input type="number" name="dam_middle_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_middle_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_middle_layer_color" placeholder="Название красителя"/><br>
                        </p>
                        <p>
                            <label>Нижний слой:</label><br>
                            <input type="number" name="dam_lower_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_lower_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_lower_layer_color" placeholder="Название красителя"/><br>
                        </p>
                    </p>
                </td>
                <td>
                    <p>
                        <label>Настройки волнопродуктора:</label><br>
                        <input type="number" name="amplitude" placeholder="Амплитуда (См)"/><br>
                        <input type="number" name="quantity" placeholder="Количество волн"/><br>
                        <input type="number" name="frequency" placeholder="Частота волнопрод.(Гц)"/><br>
                        Прод. работы (мин:сек)<input type="time" name="operatingtime"/><br>
                        <input type="number" name="thickness" placeholder="Толщина слоя жидкости"/>
                    </p>
                <td>
                <td>
                    <p>
                        <label>Настройки дамбы:</label><br>
                        <input type="number" name="wall_coordinate" placeholder="Положение стенки"/><br>
                        <p>
                            <label>Верхний слой:</label><br>
                            <input type="number" name="dam_top_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_top_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_top_layer_color" placeholder="Название красителя"/><br>
                        </p>
                        <p>
                            <label>Средний слой:</label><br>
                            <input type="number" name="dam_middle_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_middle_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_middle_layer_color" placeholder="Название красителя"/><br>
                        </p>
                        <p>
                            <label>Нижний слой:</label><br>
                            <input type="number" name="dam_lower_layer_height" placeholder="Толщина"/><br>
                            <input type="number" name="dam_lower_layer_density" placeholder="Плотность г/см^3"/><br>
                            <input type="text" name="dam_lower_layer_color" placeholder="Название красителя"/><br>
                        </p>
                    </p>
                </td>
                <td>
                    <label>Настройки лазера</label><br>
                    <input list="used" name="used">
                        <datalist id="used">
                            <option value="Использовался"></option>
                            <option value="Не использовался"></option>
                        </datalist>
                    <br>
                    <input type="text" name="laser_video" placeholder="Сылка на видео"/><br>
                    <input type="number" name="laser_coordinate" placeholder="Место размещения"/><br>
                    <input type="number" name="laser_angle" placeholder="Угол линзы"/><br>
                </td>
                <td>
                    <label>Доп. настройки</label>
                    <p>
                        Препятствие:<br>
                        <input type="number" name="obstacle_coordinate" placeholder="Место размещения"/><br>
                        <input type="number" name="obstacle_height" placeholder="Высота препятствия"/><br>
                    </p>
                    <p>
                        <label>Тип частиц на поверхности жидкости:</label><br>
                        <input type="text" name="type_of_particles"/>
                    </p>
                </td>
            </tr>
        </table>
        <input type="submit" value="Поиск" >
    </form>
    {% if database.count > 0 %}
    <h2>Список экспериментов</h2>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Дата и время проведения</th>
            <th>Название эксперимента</th>
            <th>Тип берега</th>
            <th>Тип волны</th>
            <th>Видеозапись</th>
            
            <th>Данные с донных датчиков</th>
            <th>Данные с струнных датчиков</th>
            <th>Схема эксперимента</th>
            <th>Настройки волнопродуктора</th>
            <th>Дамба</th>
            
            <th>Длительность эксперимента</th>
            <th>Стратификация</th>
            <th>Полярность волны</th>
            <th>Настройки лазера</th>
            <th>Доп. условия</th>
        </tr>
        {% for Experiment in database %}
        <tr>
            <td>
                {{ Experiment.id }}
            </td>
            <td>
                {% if Experiment.date_and_time %}
                    {{ Experiment.date_and_time }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.title_of_exp %}
                    {{ Experiment.title_of_exp }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_bottom %}
                    {{ Experiment.type_of_bottom }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_wave %}
                    {{ Experiment.type_of_wave }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.video_reference %}
                    <a href="{{ Experiment.video_reference }}" target="_blank">
                        YouTube
                    </a>
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.result.bottom_sensors.results %}
                    {{ Experiment.result.bottom_sensors.results }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                <p>
                    Ёмкостные датчики:
                    {% if Experiment.result.string_sensors.capasitive_sensors_res %}
                    <a href="{{ Experiment.result.string_sensors.capasitive_sensors_res }}" target="_blank">
                        Скачать
                    </a>
                    {% else %}
                        Данных нет
                    {% endif %}
                </p>
                <p>
                    Резестивные датчики:
                    {% if Experiment.result.string_sensors.resistive_sensors_res %}
                    <a href="{{ Experiment.result.string_sensors.resistive_sensors_res }}" target="_blank">
                        Скачать
                    </a>
                    {% else %}
                        Данных нет
                    {% endif %}
                </p>
            </td>
            <td>
                {% if Experiment.sheme_of_exp_reference %}
                    <a href="{{ Experiment.sheme_of_exp_reference }}" target="_blank">
                        Смотреть
                    </a>
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_wave == "Поверхностная" %}
                    <p>
                        Амплитуда волны:
                        {% if Experiment.type_of_forming.wave_maker.amplitude %}
                            {{ Experiment.type_of_forming.wave_maker.amplitude }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Кол-во волн:
                        {% if Experiment.type_of_forming.wave_maker.quantity_of_waves %}
                            {{ Experiment.type_of_forming.wave_maker.quantity_of_waves }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Частота колебаний волнопродуктора:
                        {% if Experiment.type_of_forming.wave_maker.frequency %}
                            {{ Experiment.type_of_forming.wave_maker.frequency }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Время работы волнопродуктора:
                        {% if Experiment.type_of_forming.wave_maker.operating_time %}
                            {{ Experiment.type_of_forming.wave_maker.operating_time }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Толщина слоя жидкости:
                        {% if Experiment.type_of_forming.wave_maker.water_height %}
                            {{ Experiment.type_of_forming.wave_maker.water_height }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                {% else %}
                    Не использовалось
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_wave == "Внутренняя" %}
                    <p>
                        Положение стенки:
                        {% if Experiment.type_of_forming.dam_break.wall_coordinate %}
                            {{ Experiment.type_of_forming.dam_break.wall_coordinate }}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                    <p>
                        Толщина слоёв: <br>
                        {% if Experiment.type_of_forming.dam_break.type_of_stratification %}
                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.top_layer %}
                                Верхний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.top_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}

                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer %}
                                Средний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.middle_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}

                            {% if Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer %}
                                Нижний слой: <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.layer_height }} См <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                                {{ Experiment.type_of_forming.dam_break.type_of_stratification.lower_layer.name_of_the_dye }} <br>
                                <br>
                            {% endif %}
                        {% else %}
                            Данных нет
                        {% endif %}
                    </p>
                {% else %}
                    Не использовалось
                {% endif %}
            </td>
            <td>
                {% if Experiment.duration_of_the_exp %}
                    {{ Experiment.duration_of_the_exp }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.type_of_stratification %}
                    {% if Experiment.type_of_stratification.top_layer %}
                        Верхний слой: <br>
                        {{ Experiment.type_of_stratification.top_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.top_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.top_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}

                    {% if Experiment.type_of_stratification.middle_layer %}
                        Средний слой: <br>
                        {{ Experiment.type_of_stratification.middle_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.middle_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.middle_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}

                    {% if Experiment.type_of_stratification.lower_layer %}
                        Нижний слой: <br>
                        {{ Experiment.type_of_stratification.lower_layer.layer_height }} См <br>
                        {{ Experiment.type_of_stratification.lower_layer.density_of_water_g_cm_3_field }} г/см^3 <br>
                        {{ Experiment.type_of_stratification.lower_layer.name_of_the_dye }} <br>
                        <br>
                    {% endif %}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.polarity %}
                    {{ Experiment.polarity }}
                {% else %}
                    Данных нет
                {% endif %}
            </td>
            <td>
                {% if Experiment.laser.used %}
                    {% if Experiment.laser.video_reference %}
                        <a href="{{ Experiment.laser.video_reference }}" target="_blank">
                            Смотреть видеозапись
                        </a>
                    {% endif %}
                    <br>
                    Расположение лазера:
                    {% if Experiment.laser.laser_coordinate %}
                        {{ Experiment.laser.laser_coordinate }}
                    {% else %}
                        Данных нет
                    {% endif %}
                    <br>
                    Угол линзы:
                    {% if Experiment.laser.viewing_angle %}
                        {{ Experiment.laser.viewing_angle }}
                    {% else %}
                        Данных нет
                    {% endif %}
                    <br>
                {% else %}
                    Не использовалось
                {% endif %}
            </td>
            <td>
                {% if Experiment.types_of_experiment %}
                    <p>
                        {% if Experiment.types_of_experiment.spread_over_an_obstacle %}
                            Тип частиц на поверхности жидкости:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.type_of_particles }}
                        {% endif %}
                    </p>

                    <p>
                        {% if Experiment.types_of_experiment.spread_over_an_obstacle %}
                            Расположение препятствия:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.obstacle_coordinate }}
                            <br><br>
                            Высота препятствия:
                            {{ Experiment.types_of_experiment.spread_over_an_obstacle.obstacle_height }}
                        {% endif %}
                    </p>
                {% else %}
                    Доп. условий нет
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>