<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Модели в Django</title>

    <script>
        window.onload = function() {
            var wave = document.getElementById("wave");
            if (wave == "Внешняя") {
                temp = "<input type="number" name="wave_amplitude"/>";
                alert("if");
            }
            alert("not if");
            document.getElementById("info_after_wave_choice").innerHTML = temp;
        }
    </script>

</head>
<body class="container">
    <form method="POST" action="create">
        {% csrf_token %}
        <p>
            <label>Введите название эксперимента</label><br>
            <input type="text" name="title" />
        </p>
        <p>
            <label>Введите тип береговой линии</label><br>
            <input type="text" name="bottom" />
        </p>
        <p>
            <label>Вставьте ссылку на видеозапись эксперимента</label><br>
            <input type="text" name="video" />
        </p>
        <p>
            <label>Введите тип волны</label><br>
            {% comment %} <input type="text" name="wave" /> {% endcomment %}
            <input list="wave" name="wave">
            <datalist id="wave">
                <option value="Внешняя"></option>
                <option value="Внутренняя"></option>
            </datalist>
            {% comment %} <select size="2" multiple name="wave" id="wave_script">
                <option selected value="Внешняя">Внешняя</option>
                <option value="Внутренняя">Внутренняя</option>
            </select> {% endcomment %}
        </p>
        <p>
            <span id="info_after_wave_choice"></span>
        </p>
        <input type="submit" value="Сохранить" >
    </form>
    <form name="search" method="POST" action="search">
        {% csrf_token %}
        <h2>Поиск эксперимента</h2>
        <p>
            <label>Введите ID эксперимента</label><br>
            <input type="number" name="id" />
        </p>
        <p>
            <label>Введите название эксперимента</label><br>
            <input type="text" name="title" />
        </p>
        <p>
            <label>Введите тип волны</label><br>
            <input list="wave" name="wave">
            <datalist id="wave">
                <option value="Внешняя"></option>
                <option value="Внутренняя"></option>
            </datalist>
        </p>
        <input type="submit" value="Поиск" >
    </form>
    {% if database.count > 0 %}
    <h2>Список экспериментов</h2>
    <table>
        <tr><th>Id</th><th>Название эксперимента</th><th>Тип берега</th><th>Видеозапись</th><th>Тип волны</th></tr>
        {% for Experiment in database %}
        <tr><td>{{ Experiment.id }}</td><td>{{ Experiment.title_of_exp }}</td><td>{{ Experiment.type_of_bottom }}</td><td><a href="{{ Experiment.video_reference }}" target="_blank">YouTube</a></td><td>{{ Experiment.type_of_wave }}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
</body>
</html>